

<div class="container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.freepik.com/vecteurs-libre/fond-film-cinema-pop-corn-pellicule-clins-billets-fond-temps-film_41737-248.jpg?size=626&ext=jpg);">
    <div class="container">
      <h1> My <%= @list.name %> list of movies</h1>
    </div>
  </div>
  <% @list.movies.each do |movie| %>
    <div class="card-product my-4">
      <img src="<%= movie.poster_url%>" />
        <div class="card-product-infos">
          <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
            <p><%= movie.overview %></p>
            <p>My comment: <%= bookmark.comment %></p>
            <p>Rating: <%= movie.rating %>/10</p>
            <%=link_to bookmark_path(movie_id: movie.id),
                method: :delete,
                data: { confirm: "Are you sure?" } do%>
                <i class="fas fa-trash"></i>
            <% end %>
        </div>
    </div>
  <% end %>
  <%= link_to "Add a movie", new_list_bookmark_path(@list), class: 'btn btn-ghost mt-3' %>
  <%= link_to 'Delete list', list_path(@list),
              method: :delete,
              data: { confirm: "Are you sure?" }, class: 'btn btn-warning mt-3' %>
    <hr>
    <%= link_to lists_path do%>
    <i class="fa fa-history mb-3"></i> Back to list
    <% end %>
  </div>
